:root {
  --color-weight-100: hsl(0, 0%, 100%);
  --color-weight-200: hsl(0, 0%, 96%);
  --color-weight-300: hsl(0, 0%, 89%);
  --color-weight-400: hsl(222, 9%, 78%);
  --color-weight-500: hsl(222, 9%, 78%);
  --color-weight-600: hsl(216, 8%, 38%);
  --color-weight-700: hsl(216, 9%, 23%);
  --color-weight-800: hsl(220, 7%, 18%);
  --color-weight-900: hsl(216, 8%, 12%);
  --color-weight-1000: hsl(225, 9%, 9%);

  --orange: hsl(13, 75%, 58%);
  --orange-hover: hsl(21, 86%, 67%);
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: 0;
}

h1 {
  font-size: 2rem; /* 32px */
}

h2 {
  font-size: 1.75rem; /* 28px */
  font-weight: 300;
}

h3 {
  font-size: 1.5rem; /* 24px */
}

h4 {
  font-size: 1.25rem; /* 20px */
}

h5 {
  font-size: 1rem; /* 16px */
}

h6 {
  color: var(--orange);
}

h6,
p {
  font-size: 0.875rem; /* 14px */
}

img {
  max-width: 100%;
}

/* Button Styles */

.btn {
  cursor: pointer;
  border: none;
}

.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-weight-700);
  width: 56px;
  height: 56px;
}

.menu-btn--icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-icon {
  width: 23px;
  height: 14px;
}

.close-icon {
  width: 18px;
}

.delete-file-btn {
  background-color: transparent;
  margin-right: 18px;
}

.save-file-btn {
  background-color: var(--orange);
  border-radius: 4px;
  width: 40px;
  height: 40px;
  margin: 8px;
  padding: 12px;
}

.save-file-btn:hover {
  background-color: var(--orange-hover);
}

.save-file-btn--icon {
  width: 1rem;
  height: 1rem;
}

.header {
  display: flex;
  align-items: center;
  background-color: var(--color-weight-800);
}

.file-input {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 0 24px;
}

.file-input--icon {
  margin-right: 1em;
}

.file-input--input {
  background-color: transparent;
  color: var(--color-weight-100);
  border: none;
  font-size: 0.9375rem;
  caret-color: var(--orange);
  width: 100%;
}

.file-input--input:hover,
.file-input--input:focus {
  border-bottom: 1px solid var(--color-weight-100);
}
